@use 'config' as *;

@mixin statusClr($clr) {
  span {
    background-color: color-mix(in srgb, $clr 10%, #fff);
    color: $clr;
  }
}

#dashboard {
  background-color: $clr_bg_main;

  // *Dashoard navbar
  .dash_nav {
    @include flex(flex-start, flex-start, column);
    padding: 10px var(--gen_pad_inline);
    box-shadow: 0 2px 15px $clr_brd;
    z-index: 10;
    position: sticky;
    background-color: $clr_bg_sub;
    top: 0;

    .top {
      @include flex(space-between, center);
      width: 100%;

      .left_side {
        @include flex(flex-start, center);
        flex-basis: 50%;
        gap: 20px;

        @include media(min, $xlrg) {
          justify-content: space-between;
          gap: unset;
        }

        @include media(max, $xsml) {
          gap: 10px;
        }

        svg {
          display: block;
        }

        .logo {
          svg {
            width: 12rem;

            @include media(max, $xsml) {
              width: 10rem;
            }
          }
        }

        .search {
          color: $clr_txt_main;
          font-size: 2.3rem;

          @include media(min, $xlrg) {
            display: none;
          }
        }

        .search_wrapper {
          display: none;

          @include media(min, $xlrg) {
            @include flex(flex-start, stretch);
            flex-basis: 50%;
            margin-right: 10%;

            input {
              border: 2px solid $clr_brd;
              width: 100%;
              border-radius: 5px 0 0 5px;
              border-right: none;
              padding: 10px 15px;
              font-size: 1.5rem;
            }

            .search_btn {
              background-color: $clr_acc;
              color: $clr_txt_sub;
              width: 50px;
              border-radius: 0 5px 5px 0;
              @include flex(center, center);
              font-size: 2rem;

              svg {
                display: block;
              }
            }
          }
        }
      }

      .right_side {
        flex-basis: 40%;
        @include flex(flex-end, center);
        gap: 20px;
        font-size: 1.5rem;

        @include media(max, $xsml) {
          gap: 10px;
        }

        .docs {
          text-decoration: underline;
          margin-right: 10px;
        }

        .notification_btn {
          scale: 1.2;
          color: $clr_txt_main;

          svg {
            display: block;
          }
        }

        .user_info {
          @include flex(flex-start, center);
          gap: 5px;
          cursor: pointer;

          .img_wrapper {
            border-radius: 50%;
            overflow: hidden;
            min-width: 35px;

            @include media(max, $xsml) {
              min-width: 30px;
            }

            img {
              display: block;
            }
          }

          p {
            @include flex(flex-start, center);
            gap: 5px;

            svg {
              display: block;
            }
          }
        }

        .menu_btn {
          font-size: 2rem;
          color: $clr_txt_main;

          @include media(min, $xlrg) {
            display: none;
          }

          svg {
            top: 3px;
            display: block;
          }
        }
      }
    }
    .bottom {
      @include media(min, $xlrg) {
        display: none;
      }
      width: 100%;
      transition: all ease $trans_mid;
      height: 0;
      overflow: hidden;

      .content_wrapper {
        @include flex(flex-start, stretch);
        padding-top: 10px;

        input {
          border: 2px solid $clr_brd;
          width: 100%;
          border-radius: 5px 0 0 5px;
          border-right: none;
          padding: 10px 15px;
          font-size: 1.5rem;
        }

        .search_btn {
          background-color: $clr_acc;
          color: $clr_txt_sub;
          width: 50px;
          border-radius: 0 5px 5px 0;
          @include flex(center, center);
          font-size: 2rem;

          svg {
            display: block;
          }
        }
      }
    }
  }
  // *End Dashoard navbar

  // *Dashboard Main
  .dash_main {
    @include flex(space-between, stretch);
    min-height: calc(100vh - 70px);

    @include media(max, $xlrg) {
      padding-left: var(--gen_pad_inline);
    }

    // *Dash Sidenav
    .dash_sidenav {
      width: 18%;
      max-width: 36px;
      background-color: $clr_bg_sub;
      box-shadow: 2px 0px 15px $clr_brd;
      position: relative;
      min-width: fit-content;
      transition: transform ease $trans_long;

      @include media(max, $xlrg) {
        @include position(fixed, left, top, 0, 0);
        z-index: 2;
        @include uniTranslate(X, -100%);

        &.active {
          @include uniTranslate(X, 0);
        }
      }

      .wrapper {
        padding-block: 30px;
        @include flex();
        gap: 20px;
        flex-direction: column;
        position: sticky;
        top: 0;
        overflow-y: auto;
        height: 100vh;
        scrollbar-width: thin;
        scrollbar-color: $clr_brd $clr_bg_sub;

        .sidenav_opt {
          padding-inline: var(--gen_pad_inline);
          @include flex(flex-start, center);
          gap: 10px;
          padding-block: 10px;
          font-size: 1.5rem;
          color: $clr_txt_main;
          width: 100%;
          opacity: 0.6;
          transition: background-color ease $trans_short,
            color ease $trans_short !important;
          border: 4px solid transparent;

          &.active {
            border-left-color: $clr_acc;
            background-color: lighten($clr_acc, 45%);
            opacity: 1;
          }

          @include media(max, 1500px) {
            font-size: 1.3rem;

            .icon {
              font-size: 1.4rem;
            }
          }

          &:hover {
            background-color: lighten($clr_acc, 45%);
            opacity: 1;
          }

          .icon {
            font-size: 1.6rem;
            svg {
              display: block;
              width: 1em;
              height: 1em;
            }
          }
        }

        p.sidenav_opt {
          font-size: 1.3rem;
        }

        .top {
          @include flex();
          flex-direction: column;
          gap: 20px;
        }

        .mid {
          @include flex();
          flex-direction: column;
          gap: 20px;
          width: 100%;

          .sidenav_opts {
            width: 100%;
            h3 {
              padding-inline: var(--gen_pad_inline);
              text-transform: uppercase;
              letter-spacing: 0.1rem;
              padding-block: 10px;
            }
          }
        }

        .bottom {
          padding-top: 20px;
          border-top: 2px solid $clr_brd;
          width: 100%;
          margin-top: 20px;

          // .opt {
          //   padding-inline: var(--gen_pad_inline);
          //   @include flex(flex-start, center);
          //   gap: 10px;
          //   padding-block: 10px;
          //   font-size: 1.5rem;
          //   color: $clr_txt_main;
          //   width: 100%;
          //   opacity: 0.6;
          //   transition: background-color ease $trans_short,
          //     color ease $trans_short !important;
          //   border: 4px solid transparent;

          //   @include media(max, 1500px) {
          //     font-size: 1.3rem;

          //     .icon {
          //       font-size: 1.4rem;
          //     }
          //   }

          //   &:hover {
          //     background-color: lighten($clr_acc, 45%);
          //     opacity: 1;
          //   }

          //   .icon {
          //     font-size: 1.6rem;
          //     svg {
          //       display: block;
          //       width: 1em;
          //       height: 1em;
          //     }
          //   }
          // }
        }
      }
    }
    // *End Dash Sidenav

    .dash_sect {
      width: 78.8%;
      padding-block: 50px;

      svg {
        display: block;
        width: 1em;
        height: 1em;
      }

      @include media(max, $xlrg) {
        width: 100%;
      }

      // *Dash Users
      .dash_users {
        padding-right: var(--gen_pad_inline);

        .users_skeleton {
          header {
            margin-bottom: 30px;

            h1 {
              margin-bottom: inherit;
              width: 7rem;
              height: 2rem;
              border-radius: 3px;
            }

            .cards_wrapper {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
              gap: 30px;
              @include media(max, $sml) {
                gap: 15px;
              }

              .card {
                background-color: $clr_bg_sub;
                border-radius: 5px;
                box-shadow: 0 0 10px $clr_brd;
                padding: 20px;
                @include flex();
                flex-direction: column;
                gap: 10px;

                .icon {
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
                }

                .title {
                  width: 7rem;
                  height: 2em;
                  border-radius: 3px;
                }

                .count {
                  width: 12rem;
                  height: 4rem;
                  border-radius: 3px;
                }
              }
            }
          }

          .bottom {
            .table_wrapper {
              @include dashBox();
              margin-bottom: 20px;
              overflow-x: auto;
              scrollbar-width: thin;
              scrollbar-color: $clr_brd $clr_bg_sub;
              position: relative;

              table {
                width: 100%;
                border-collapse: collapse;
                @include media(max, $xlrg) {
                  min-width: 1000px;
                }

                tr {
                  text-align: left;

                  &:last-of-type td {
                    border-bottom: none;
                  }

                  th {
                    padding-bottom: 15px;
                    width: calc(100% / 6);

                    @include media(max, $sml) {
                      padding-bottom: 10px;
                    }

                    .cell_content {
                      @include flex(flex-start, center);
                      gap: 5px;
                      width: 80%;
                      height: 13px;
                      border-radius: 3px;
                    }
                  }

                  td {
                    border-bottom: 1px solid $clr_brd;
                    padding-block: 20px;
                    width: calc(100% / 6);

                    @include media(max, $sml) {
                      padding-block: 10px;
                    }

                    p {
                      width: 60%;
                      height: 10px;
                      border-radius: 3px;
                    }

                    &.status {
                      text-transform: capitalize;

                      span {
                        border-radius: 20px;
                        width: 50%;
                        height: 25px;
                        display: inline-block;
                      }
                    }

                    &.btn_wrapper {
                      .more_btn {
                        color: $clr_txt_main;
                        padding: 3px;
                      }

                      .moreaction {
                        @include position(absolute, right, top, 100%, -50%);
                        width: 150px;
                        box-shadow: 0 0 10px $clr_brd;
                        border-radius: 5px;
                        padding: 20px 15px;
                        background-color: $clr_bg_sub;
                        opacity: 0;
                        z-index: -1;
                        transition: opacity ease $trans_mid;

                        &.active {
                          opacity: 1;
                          z-index: 1;
                        }

                        .moreaction_opts {
                          @include flex(flex-start, flex-start, column);
                          gap: 10px;

                          .opt {
                            @include flex(flex-start, center);
                            gap: 10px;
                            text-transform: capitalize;
                            color: $clr_txt_main;
                            letter-spacing: 0.1rem;
                            font-size: 1.3rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .dash_users_main {
          .empty_users {
            width: 100%;
            @include flex(center, center, column);
            background-color: $clr_bg_sub;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px $clr_brd;
            gap: 10px;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;

            button {
              color: $clr_txt_sub;
              padding: 10px 30px;
              border-radius: 10px;
              letter-spacing: 0.1rem;
              background-color: $clr_acc;
            }
          }

          header {
            margin-bottom: 30px;

            h1 {
              margin-bottom: inherit;
              font-size: 2rem;
            }

            .cards_wrapper {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
              gap: 30px;
              @include media(max, $sml) {
                gap: 15px;
              }

              .card {
                background-color: $clr_bg_sub;
                border-radius: 5px;
                box-shadow: 0 0 10px $clr_brd;
                padding: 30px;
                @include flex();
                flex-direction: column;
                gap: 10px;
                font-size: 1.2rem;
                text-transform: uppercase;

                @include media(max, $xsml) {
                  padding: 20px;
                }

                .icon {
                  font-size: 4rem;
                }

                .count {
                  font-weight: bold;
                  font-size: 2rem;
                }
              }
            }
          }

          .bottom {
            .table_wrapper {
              @include dashBox();
              margin-bottom: 20px;
              overflow-x: auto;
              scrollbar-width: thin;
              scrollbar-color: $clr_brd $clr_bg_sub;
              position: relative;

              .filter_sect {
                background-color: $clr_bg_sub;
                @include position(absolute, left, top, var(--left), 53px);
                width: 250px;
                border: 2px solid $clr_brd;
                border-radius: 5px;
                padding: 20px 15px;
                opacity: 0;
                z-index: -1;
                transition: opacity ease $trans_mid;

                @include media(max, $sml) {
                  width: 200px;
                }

                &.active {
                  opacity: 1;
                  z-index: 1;
                }

                .filter_opts {
                  @include flex(flex-start, flex-start, column);
                  gap: 15px;

                  .filter_opt {
                    @include flex(flex-start, flex-start, column);
                    width: 100%;
                    gap: 5px;

                    label {
                      font-size: 1.3rem;
                      text-transform: capitalize;
                      letter-spacing: 0.1rem;
                    }

                    select,
                    input {
                      border: 2px solid $clr_brd;
                      width: 100%;
                      border-radius: 8px;
                      padding: 7px 11px;
                      color: $clr_txt_main;
                      font-size: 1.3rem;
                    }

                    input:disabled {
                      opacity: 0.5;
                      cursor: not-allowed;
                    }

                    input[type='date']::-webkit-calendar-picker-indicator {
                      color: $clr_txt_main;
                      cursor: pointer;
                      background: url(../assets/images/calendar.svg) no-repeat;
                    }
                  }

                  .btns_wrapper {
                    margin-top: 20px;
                    @include flex(space-between, center);
                    width: 100%;

                    button {
                      width: 47%;
                      padding-block: 10px;
                      border-radius: 10px;
                      letter-spacing: 0.1rem;

                      &.reset_btn {
                        border: 2px solid $clr_brd;
                        color: $clr_txt_main;
                      }

                      &.filter_btn {
                        background-color: $clr_acc;
                        color: $clr_txt_sub;
                      }
                    }
                  }
                }
              }

              table {
                width: 100%;
                border-collapse: collapse;
                @include media(max, $xlrg) {
                  min-width: 1000px;
                }

                tr {
                  text-align: left;
                  font-size: 1.3rem;

                  &:last-of-type td {
                    border-bottom: none;
                  }

                  th {
                    text-transform: uppercase;
                    padding-bottom: 15px;
                    font-size: 1.2rem;
                    letter-spacing: 0.1rem;

                    @include media(max, $sml) {
                      padding-bottom: 10px;
                    }

                    .cell_content {
                      @include flex(flex-start, center);
                      gap: 5px;

                      .filter {
                        padding: 2px 5px;

                        svg {
                          position: relative;
                          top: -1px;
                        }
                      }
                    }
                  }

                  td {
                    border-bottom: 1px solid $clr_brd;
                    padding-block: 20px;
                    position: relative;

                    @include media(max, $sml) {
                      padding-block: 10px;
                    }

                    &.status {
                      text-transform: capitalize;

                      &.status.inactive {
                        @include statusClr($clr_txt_main);
                      }

                      &.status.blacklisted {
                        @include statusClr(($clr_blacklist));
                      }

                      &.status.active {
                        @include statusClr(($clr_active));
                      }

                      &.status.pending {
                        @include statusClr(($clr_pending));
                      }

                      span {
                        border-radius: 20px;
                        padding: 5px 20px;
                      }
                    }

                    &.btn_wrapper {
                      .more_btn {
                        color: $clr_txt_main;
                        padding: 3px;
                      }

                      .moreaction {
                        @include position(absolute, right, top, 100%, -50%);
                        width: 150px;
                        box-shadow: 0 0 10px $clr_brd;
                        border-radius: 5px;
                        padding: 20px 15px;
                        background-color: $clr_bg_sub;
                        opacity: 0;
                        z-index: -1;
                        transition: opacity ease $trans_mid;

                        &.active {
                          opacity: 1;
                          z-index: 1;
                        }

                        .moreaction_opts {
                          @include flex(flex-start, flex-start, column);
                          gap: 10px;

                          .opt {
                            @include flex(flex-start, center);
                            gap: 10px;
                            text-transform: capitalize;
                            color: $clr_txt_main;
                            letter-spacing: 0.1rem;
                            font-size: 1.3rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            footer {
              @include flex(space-between, center);
              font-size: 1.3rem;

              @include media(max, $sml) {
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
              }

              .left_side {
                @include flex(flex-start, center);
                gap: 10px;

                select {
                  background-color: color-mix(in srgb, $clr_txt_main 20%, #fff);
                  padding: 5px;
                  border-radius: 5px;
                  color: $clr_txt_main;
                  font-weight: bold;
                }
              }

              .right_side {
                @include flex(flex-end, center);
                gap: 5px;

                @include media(max, $sml) {
                  align-self: flex-end;
                }

                button {
                  color: $clr_txt_main;
                  padding: 5px;
                  opacity: 0.5;

                  &:not(&:disabled):hover {
                    opacity: 1;
                  }

                  &:not(&:disabled):active {
                    scale: 0.8;
                  }

                  &:disabled {
                    cursor: not-allowed;
                  }
                }

                .prev_btn,
                .next_btn {
                  background-color: color-mix(in srgb, $clr_txt_main 10%, #fff);
                  border-radius: 5px;

                  &:disabled {
                    opacity: 0.3;
                  }
                }

                .pg_btn {
                  &.active {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
      // *End Dash Users

      // *Single User
      .dash_user {
        padding-right: var(--gen_pad_inline);

        header {
          margin-bottom: 30px;
          @include flex(flex-start, flex-start, column);
          gap: 20px;

          .back_btn {
            width: 100%;

            @include flex();
            gap: 10px;
            align-items: center;
            font-size: 1.5rem;
          }

          h1 {
            @include flex(space-between, center);
            width: 100%;
            font-size: 2rem;

            .btns_wrapper {
              @include flex(center, center);
              gap: 20px;

              button {
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                border: 2px solid transparent;
                padding: 7px 10px;
                border-radius: 7px;

                @include media(max, $sml) {
                  .text {
                    display: none;
                  }

                  .icon {
                    display: block !important;
                  }
                }

                &.blacklist_btn {
                  color: $clr_blacklist;
                  border-color: $clr_blacklist;
                }

                &.activate_btn {
                  color: $clr_acc;
                  border-color: $clr_acc;
                }

                .icon {
                  display: none;
                }
              }
            }
          }

          .user_card {
            @include dashBox();
            width: 100%;
            @include flex(flex-start, flex-start, column);
            gap: 20px;
            padding-bottom: 0;
            overflow: auto;

            .top {
              @include flex(flex-start, stretch);
              width: 100%;
              gap: 15px;
              position: sticky;
              left: 0;

              .avi_wrapper {
                font-size: 8rem;
                @include media(max, 650px) {
                  display: none;
                }
              }

              .top_info {
                @include flex(flex-start, flex-start);
                gap: 20px;
                width: 100%;

                @include media(max, $sml) {
                  justify-content: space-between;
                }

                .seg {
                  @include flex(center, flex-start, column);
                  height: 100%;

                  &:nth-of-type(2) {
                    padding-inline: 30px;
                    border-right: 1px solid $clr_brd;
                    border-left: 1px solid $clr_brd;

                    @include media(max, 650px) {
                      padding-block: 20px;
                    }

                    @include media(max, $sml) {
                      display: none;
                    }
                  }

                  @include media(max, $sml) {
                    &:last-of-type {
                      text-align: right;
                      justify-content: flex-start;
                    }
                  }

                  h3 {
                    width: 100%;
                    font-size: 1.7rem;
                    letter-spacing: 0.1rem;

                    @include media(max, $sml) {
                      font-size: 1.5rem;
                    }
                  }

                  p {
                    font-size: 1.3rem;
                    text-transform: capitalize;
                    margin-top: 3px;
                  }

                  h5 {
                    font-size: 1.3rem;
                    text-transform: capitalize;
                    letter-spacing: 0.1rem;
                  }

                  .stars_wrapper {
                    @include flex(flex-start, center);
                    gap: 5px;
                    font-size: 1.3rem;
                    margin-top: 3px;

                    &.mobile {
                      @include media(min, $sml) {
                        display: none;
                      }
                    }
                  }
                }
              }
            }

            .bottom {
              width: 100%;
              display: grid;
              grid-template-columns: repeat(6, 1fr);
              gap: 10px;
              min-width: 700px;

              @include media(max, $xsml) {
                gap: 5px;
              }

              .opt {
                color: $clr_txt_main;
                padding-block: 10px;
                border-bottom: 2px solid transparent;
                font-size: 1.5rem;

                @include media(max, $xsml) {
                  padding-block: 7px;
                  letter-spacing: unset;
                }

                @include media(max, 900px) {
                  font-size: 1.3rem;
                }

                &.active {
                  color: $clr_acc;
                  border-color: $clr_acc;
                }
              }
            }
          }
        }

        .more_info {
          @include dashBox();
          width: 100%;
          @include flex(flex-start, flex-start, column);
          gap: 20px;

          .info_opt {
            width: 100%;

            &:nth-of-type(2) {
              padding-block: 20px;
              border-top: 1px solid $clr_brd;
              border-bottom: 1px solid $clr_brd;
            }

            &:last-of-type {
              .opts_wrapper {
                @include flex();
                flex-direction: column;

                .info_opt_wrapper {
                  width: 100%;
                  display: grid;
                  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                  gap: 20px 50px;
                  border-bottom: 1px solid $clr_brd;
                  padding-bottom: 20px;

                  &:last-of-type {
                    border: none;
                    padding-bottom: 0;
                  }
                }
              }
            }

            h5 {
              font-size: 1.3rem;

              &.title {
                margin-bottom: 20px;
                font-size: 1.4rem;

                @include media(max, $sml) {
                  margin-bottom: 10px;
                }
              }
            }

            .opts_wrapper {
              width: 100%;
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
              gap: 20px 50px;

              .opt {
                .title {
                  text-transform: uppercase;
                  font-size: 1.1rem;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
      // *End Single User
    }
  }
  // *End Dashboard Main
}
